p{
	font-size:25px;
	padding: -5px 0px -10px 10px; 
}

.videolist{
	display:inline-block;
	padding: 0px 0px 0px 0px;
	

}

.wrapper1{
	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;
	border-radius: 25px;
	-webkit-animation-duration:1s;

}

.wrapper2{

	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;
	border-radius: 25px;
	-webkit-animation-duration:1.3s;
	
	


}

.wrapper3{

	
	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;
	border-radius: 25px;
	-webkit-animation-duration:1.6s;

	

}

.wrapper4{


	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;
	border-radius: 25px;
	-webkit-animation-duration:1.9s;
}



