
body{
background-color: rgba(25, 181, 254, 0.5);
}


a{

height:20px;
width:20px;
font-size:25px;
text-decoration: none;
text-transform: uppercase;


}
a:hover{
	background-color: white;
	border-radius: 3px;
}
h1{
	text-align: center;
	text-transform: uppercase;
	
}
p{
	font-size:25px;
	padding: -5px 0px -10px 10px; 
}

.videolist{
	display:inline-block;
	padding: 0px 0px 0px 0px;
	

}

.wrapper1{
	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;


	-webkit-animation-duration:1s;

}

.wrapper2{

	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;
	
	-webkit-animation-duration:1s;

}

.wrapper3{

	
	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;
	-webkit-animation-duration:1s;

}

.wrapper4{


	background-color: rgb(25, 181, 254);
	height:400px;
	width:500px;
	padding: 0px 0px 0px 20px;
	-webkit-animation-duration:1s;

}